<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chanpay.lib_base">

    <application>
        <activity android:name=".service.ServiceActivity"/>
        <activity android:name=".activity.LifecycleActivity" />
        <activity android:name=".BaseKnowActivity" />

        <!--注册服务-->
        <service android:name=".service.MyService">
        </service>

    </application>



</manifest>