<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chanpay.lib_base">

    <application>
        <activity android:name=".lifecycle.LifecycleActivity"></activity>
        <activity android:name=".BaseKnowActivity" />
    </application>

</manifest>