<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chanpay.lib_base">

    <application>
        <activity android:name=".Animation.ViewGroupAnimationActivity"></activity>
        <activity android:name=".Animation.TweenAnimationActivity" />
        <activity android:name=".Animation.AnimationActivity" />
        <activity android:name=".Thread.HandlerThreadActivity" />
        <activity android:name=".Thread.ThreadActivity" />
        <activity android:name=".LayoutUse.ConstraintLayoutActivity" />
        <activity android:name=".LayoutUse.TableLayoutActivity" />
        <activity android:name=".LayoutUse.RelativeLayoutActivity" />
        <activity android:name=".LayoutUse.AbsoluteLayoutActivity" />
        <activity android:name=".LayoutUse.linearLayout.LinearLayoutActivity" />
        <activity android:name=".LayoutUse.LayoutActivity" />
        <activity android:name=".LayoutUse.framelayout.FrameLayoutActivity" />
        <activity android:name=".FourComponents.sqllite.SqlLiteActivity" />
        <activity android:name=".FourComponents.service.ServiceActivity" />
        <activity android:name=".FourComponents.activity.LifecycleActivity" />
        <activity android:name=".FourComponents.FourComponentsActivity" />
        <activity android:name=".FourComponents.service.IntentServiceActivity" />
        <activity android:name=".FourComponents.broadcastReceiver.BroadcastReceiverActivity" />
        <activity android:name=".BaseKnowledgeActivity" /> <!-- 注册服务 -->
        <service android:name=".FourComponents.service.MyService" />
        <service android:name=".FourComponents.service.MyIntentService" />
    </application>

</manifest>